@model CrudCore.Models.Detail1

@{
    ViewData["Title"] = "Create";
}
<style>
    body {
        font-family: 'Arial Rounded MT';
        margin: 0;
        padding: 0;
        background-color:whitesmoke;
    }

    .container {
        max-width: 600px;
        margin: 0px auto;
        padding: 8px;
        background-color: white ;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .col-md-4 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        background-color: deepskyblue;
    }

    h1, h4 {
        text-align: center;
        color: darkblue;
        margin-bottom: 20px;
    }

    .control-label {
        text-align: center;
        font-weight:700;
    }

    .form-group {
        margin-bottom: 20px;
        text-align: center;
    }

    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    input[type="text"],
    input[type="email"],
    input[type="number"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .btn {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        display: block;
        margin: 0 auto;
        width: auto;
    }

        .btn:hover {
            background-color: #45a049;
        }

    a {
        color: black;
        text-decoration: none;
        align-content: center;
    }

        a:hover {
            text-decoration: underline;
        }
</style>
<body>
    <h1>Add Employee</h1>

    <h4>New Employee Details</h4>
    <hr />
    <div class="container">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Full Name</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label">E-mail Address</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label">Permanent Address</label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Add Employee" class="btn btn-primary" />
                </div>
                <div class="form-group">
                    <a asp-action="Index">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</body>


